@media (max-width: 1180px) {
    .action-button-wrapper {
        flex-direction: column;
        gap: 5px;
        .action-button {
            width: calc(100% - 20px);
        }
    }
}

@media (max-width: 820px) {
    .navy-card-wrapper {
        flex-wrap: wrap;
        gap: 20px;
        .width-32 {
            width: 48%;
        }
    }
}

@media (max-width: 768px) {
    .navy-card-wrapper,
    .intro-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        .width-32 {
            width: 80%;
        }
    }
    .intro-container {
        .left-content,
        .right-content {
            width: 80%;
            margin-top: 0;
        }
    }
    .slide-wrapper {
        height: auto;
        width: calc(100% - 100px);
    }
    .black-box {
        width: 50px;
        height: 30px;
    }
    .blue-banner {
        height: 30px;
        width: 230px;
        font-size: 10px;
    }
    .next-icon {
        height: 30px;
        margin: 3px 18px 0 0;
    }
}